.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__sec_name {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 700;
}

.header__sec .header__sec_icon {
  font-size: 20px;
  margin-left: 18px;
  cursor: pointer;
}

.header .header__sec {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
