@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 10px 20px;
  color: black;
  font-family: "Josefin Slab", serif;
}

a {
  color: inherit;
  text-decoration: none;
}
